<h2>Update the drone {{name}}</h2>

<form action="/drones/{{_id}}/edit" method="post">

<label for="title-input">Name:</label>
<input type="text" name="name" id="title-input" values='{{name}}'/>

<label for="propeller-input">Propeller Amount:</label>
<input type="number" name="propeller" id="propeller-input" min="0" max='6' values='{{propeller}}' />

<label for="speed-input">Max Speed:</label>
<input type="number" name="max-speed" id="speed-input" min="0" max='20' values='{{max-speed}}' />

<button type="submit">Save changes</button>

</form>